body {
    background-color: pink;
  }
  
  
  p {
    font-family: verdana;
    font-size: 20px;
    color:blueviolet;
  }
  
  div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  
  #lastName{
      color: red;
  }
  
  .firstName{
      color:cornflowerblue;
  }
  